.list{
    // position: absolute;
    // position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    background-image: url(../../assets/field.jpg);
    width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}