@font-face {
  font-family: "OswaldMedium";
  src: url(../../fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "OswaldRegular";
  src: url(../../fonts/Oswald-Regular.ttf);
}

.box {
  position: relative;
  width: 307px;
  height: 437px;
  background-image: url(../../assets/Card.png);
}

.name {
  width: 300px;
  position: absolute;
  top: 276px;
  font-family: "OswaldMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #181818;
}

.likes {
  width: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 353px;
  left: 117px;
  font-family: "OswaldMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  img {
    margin: 0 5px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: 0.5s;
    }
  }
}

.lable {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 90px;
  height: 70px;
}

.flag {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 90px;
  height: 70px;
}

.club {
  position: absolute;
  top: 30px;
  left: 55px;
  font-family: "OswaldMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.country {
  position: absolute;
  top: 50px;
  left: 55px;
  font-family: "OswaldMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.line {
  position: absolute;
  top: 323px;
  left: 30px;
}

.delete {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 50px;
  left: 142px;
  cursor: pointer;
}

.balls {
  position: absolute;
  top: 355px;
  left: 140px;
  font-family: "OswaldMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
}

.golden {
  transform: translateY(4px);
}
