@font-face {
  font-family: "OswaldMedium";
  src: url(../../fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "OswaldRegular";
  src: url(../../fonts/Oswald-Regular.ttf);
}

.main {
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  padding: 0 60px 0 60px;
  opacity: 0.9;
  height: 60px;
  background-color: rgb(182, 244, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 30;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
      color: goldenrod;
    }
  }

  button {
    width: 115px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-family: "OswaldMedium";
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(0.9);
      transition: 0.5s;
      background-color: #eb9c00;
    }

    @media screen and (max-width: 500px) {
      width: 80px;
      height: 30px;
      font-weight: 300;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0 10px 0 10px;
  }

  a:has(p),
  .user {
    font-family: "OswaldMedium";
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181818;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

.user {
  align-items: center;
  width: 150px;
  img {
    margin-left: 5px;
    transform: translateY(3px);
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burgerHeader {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgb(182, 244, 182);
  background-image: url(../../assets/burgerFon2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  a {
    text-decoration: none;
    color: #d9e6f5;
    font-family: "OswaldMedium";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
}

.burgerImage {
  width: 35px;
  height: 35px;
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
  }
}

.links {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 40px;
  height: 40px;
}
